---

- name: set OS dependent variables
  ansible.builtin.include_vars: '{{ item }}'
  with_first_found:
    - '{{ ansible_facts.os_family }}.yaml'

- name: set OS dependent tasks
  ansible.builtin.include_tasks: '{{ item }}'
  with_first_found:
    - '{{ ansible_facts.os_family }}.yaml'

- name: configure ncpa
  become: true
  ansible.builtin.template:
    src: ncpa.cfg
    dest: "{{ ncpa_config_path }}/ncpa.cfg"
  notify: restart ncpa
  tags: ncpa_config

- name: modify log path perms
  become: true
  ansible.builtin.file:
    path: "{{ ncpa_log_path }}"
    state: directory
    mode: '0770'
